.bg-normal
    background $normal

.bg-fire
    background $fire

.bg-grass
    background $grass

.bg-electric
    background $electric

.bg-water
    background $water

.bg-ground
    background $ground

.bg-rock
    background $rock

.bg-fairy
    background $fairy

.bg-poison
    background $poison

.bg-dragon
    background $dragon

.bg-bug
    background $bug

.bg-psychic
    background $psychic

.bg-$flying
    background $$flying

.bg-fighting
    background $fighting

.bg-bug
    background $bug
