$size-none = 0
$size-quark = 2px
$size-nano = 4px
$size-micro = 8px
$size-tiny = 12px
$size-little = 24px
$size-special-small = 28px
$size-small = 40px

$size-default = 75px
$size-medium = 100px

$shadow-default-size = 0 3px 15px

$small-font = .75rem
$default-font = 1rem
$medium-font = 1.4rem
$large-font = 2rem