$transition-type-default = ease 
$transition-type-socondary = ease-in-out

$transition-time-fast = .25s
$transition-time-default = .35s
$transition-time-medium = .5s
$transition-time-slow = .65s
$transition-time-very-slow = 2s