.presentation
    @extend .fully-centered-column
    width 100%
    height 100vh
    
    @media screen and (min-width $lg)
        flex-direction row

    &__background
        position absolute
        left $size-none
        top $size-none
        width 100%
        height 100%
        z-index $negative-index
        
        &:before
            content ''
            position absolute
            left $size-none
            top $size-none
            width 100%
            height 100%
            background $backgroundFilter
            opacity .65

        &__image
            width 100%
            height 100%
            object-fit cover
            z-index $negative-index

    &__content
        padding $size-small 
        padding-bottom $size-tiny
        text-align center
        
        @media screen and (min-width $lg)
            padding $size-none
            width 400px
            margin $size-none $size-small
            margin $size-none $size-default
        
        & > .appmax-button
            margin-top 20px
            @media screen and (min-width $md)
                margin-top $size-none
        
        & > .text--default 
            display none 

            @media screen and (min-width $md)
                display block
                margin-top -10px

            @media screen and (min-width $lg)
                padding $size-special-small $size-none    

