.text
    color $normal

    &--default
        font-size 16px
        @media screen and (min-width $lg)
            font-size 22px   

    &--subtitle
        font-size 24px
        @media screen and (min-width $lg)
            font-size 32px

    &--title
        font-size 32px
        @media screen and (min-width $lg)
            font-size 48px
    
    &--bold
        font-weight bold

    &--italic
        font-style italic